<html lang="en" dir="ltr">

<head>
  <script src="ejs.js"></script>
</head>

<body>

  <div>

    <table class="table ">
      <thead class="thead-dark ">
        <tr>
          <th scope="col ">Id</th>
          <th scope="col ">Company</th>
          <th scope="col ">Apply date</th>
          <th scope="col ">position</th>
        </tr>
      </thead>
      <tbody>
        <h2>company List</h2>
        <% title.forEach(function(company){ %>
        <tr>
          <td> <%= company.id %>
          </td>
          <td> <%= company.name %>
          </td>
          <td> <%= company.date %>
          </td>
          <td>
            <%= company.position %>
          </td>
        </tr>
        <% }) %>

  </div>

</body>

</html>
