<html>
<head>
  <title>Pokemon</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>

  <div class="card-body">
    <h3 class="card-title">Applied company <br>
      <%= company[0].name %>
    </h3>
    <h5>Applied date:
      <%= company[0].date %>
    </h5>
    <h5>Applied position:
      <%= company[0].position %>
    </h5>
  </div>

</body>
</html>
